*{
  margin: 0px;
  top: 0px;
}

#formLogin{
  margin-top: 18%;
}

#cardBemVindo{
  border: none !important;  
  text-align: center;  
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid lightgray;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 45%;
}
  
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar{
  height: 25px;
}

#homeImage{
  margin-top: -3px;
  width: 16px;
}

#chamadosCadadstrados, #cadastrarChamados{ 
  margin-top: 10px;
}

#informacaoTabela{
  height: 90vh;
  overflow: auto;
}

.tituloTabelaChamado{
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 9px;
  padding-left: 10px;
}

#estiloLinhaTabela{
  line-height: 17px !important;
}

.infoConsulta{
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 9px;
  padding-left: 10px;  
}

.btn{
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 10px !important;
  line-height: 5px !important;  
  margin-top: -5px;
  width: auto;
}

.tituloChamado{
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 11px !important;
  font-weight: bold;
  margin-top: 15px;
}

#incidente, #ral, #observacao, #editIncidente, #editRal{
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  font-size: .875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

#registrar, #atualizar{
  height: 30px; 
  margin-top: 10px;    
}

.mensagem{
  margin-top: 10px;
  height: 25px;
  font-size: 12px;
  line-height: 0px;
}

#imagemAdotar{
  height: 16px;
  margin-top: -5px;
}

#imagemEditar{
  height: 14px;
  margin-top: -3px;
}

#tratamento{
  margin-top: 20px !important;
}

#registroChamado{
  background: #bfbfbf;
  border-radius: 5px !important;
  font-family: monospace;
  font-size: 11px;
}